<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.postech.maude.preferences.MaudePrefPage"
            id="edu.postech.maude.preferences.page"
            name="Test Maude Preferences">
      </page>
   </extension>
    <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.postech.maude.preferences.MaudePrefInitializer">
      </initializer>
  </extension>
</plugin>
