<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="SynchAadlMenu.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="SynchAadlMenu.commands.category"
            name="Constraints Check"
            id="SynchAadlMenu.commands.sampleCommand">
      </command>
      <command
            categoryId="SynchAadlMenu.commands.category"
            name="Code Generation"
            id="SynchAadlMenu.commands.sampleCommand2">
      </command>
      <command
            categoryId="SynchAadlMenu.commands.category"
            name="Analysis"
            id="SynchAadlMenu.commands.sampleCommand3">
      </command>
      <command
            categoryId="SynchAadlMenu.commands.category"
            name="Run"
            id="SynchAadlMenu.commands.sampleCommand4">
      </command>
    <command
            categoryId="SynchAadlMenu.commands.category"
            name="StatesTest"
            id="SynchAadlMenu.commands.sampleCommand5">
      </command>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="handlers.ConstraintChecker"
            commandId="SynchAadlMenu.commands.sampleCommand">
      </handler>
      <handler
            class="handlers.CodeGeneration"
            commandId="SynchAadlMenu.commands.sampleCommand2">
      </handler>
      <handler
            class="handlers.SearchCommand"
            commandId="SynchAadlMenu.commands.sampleCommand3">
      </handler>
      <handler
            class="handlers.Run"
            commandId="SynchAadlMenu.commands.sampleCommand4">
        </handler>
      <handler
            class="handlers.SimpleTestGeneration"
            commandId="SynchAadlMenu.commands.sampleCommand5">
        </handler>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="SynchAadlMenu.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+5">
      </key>
      <key
            commandId="SynchAadlMenu.commands.sampleCommand2"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
      <key
            commandId="SynchAadlMenu.commands.sampleCommand3"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7">
      </key>
      <key
            commandId="SynchAadlMenu.commands.sampleCommand4"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8">
      </key>
      <key
            commandId="SynchAadlMenu.commands.sampleCommand5"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+9">
      </key>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="SynchAadlMenu.menus.sampleMenu"
               label="SynchAADL Verifier"
               mnemonic="M">
            <command
                  commandId="SynchAadlMenu.commands.sampleCommand"
                  id="SynchAadlMenu.menus.sampleCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="SynchAadlMenu.commands.sampleCommand2"
                  id="SynchAadlMenu.menus.sampleCommand2"
                  mnemonic="S">
            </command>
            <command
                  commandId="SynchAadlMenu.commands.sampleCommand3"
                  id="SynchAadlMenu.menus.sampleCommand3"
                  mnemonic="S">
            </command>
            <command
                  commandId="SynchAadlMenu.commands.sampleCommand4"
                  id="SynchAadlMenu.menus.sampleCommand4"
                  mnemonic="S">
            </command>
            <command
                  commandId="SynchAadlMenu.commands.sampleCommand5"
                  id="SynchAadlMenu.menus.sampleCommand5"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
