<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="edu.postech.aadl.maude.editors.XMLEditor"
            name="Sample XML Editor"
            icon="icons/sample.png"
            extensions="xml"
            class="edu.postech.aadl.maude.editors.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">
      </editor>
   </extension>

</plugin>
